/* Add CSS styling here */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
/* 	border: 0; */
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%; 
    border:1px solid grey;
    
    

}
html{
	font-size:62.5%;
    font-family: 'Zilla Slab', serif;
}
body{
	font-size:1.6rem;
	line-height:1.5;
}
.top{
    display:flex;
    background-color:rgb(248, 213, 213);
}
.top .topright{
    text-align:center;
    margin:auto auto;
    width:50%;
}
.top .topleft{
    width:50%;
}

.top h1{
    font-size:9rem;
}
.top button{
    display:inline-block;
    color:rgb(248, 213, 213);
    background-color:black;
    padding:2%;
    font-size:2.5rem;
}

.top button:hover{
    color:black;
    background-color:rgb(212, 164, 164);
}
.top p{
    font-size: 5rem;
}
.middle .pics{
    display:flex;
    justify-content: space-evenly;
}
.bottom .text, .middle .text{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.bottom .pics{
    display:flex;
    justify-content: space-evenly;
}
.bottom{
    margin:0;
}
.middle{
    margin:0;
}
footer{
    text-align:center;
    padding: 5%;
    font-size:3rem;
    background-color:rgb(212, 164, 164);
}
header h1{
    margin:0 3.5%;
}
header{
    font-size:5rem;
    background-color:rgb(212, 164, 164);
    flex-wrap:wrap;
}
header .verytop {
    margin:.4% 3%;

}
nav{
    display:flex;
    font-size:2rem;
    width:100%;
}

nav a:hover{
    color:rgb(24, 7, 7);
    background-color:rgb(248, 213, 213);
    border:2px solid black;

}
nav a{
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid rgb(248, 213, 213);
    background-color:rgb(24, 7, 7);
    color:white;
    width:20%;
    height:5vh;
    
}
footer button{
    font-size:1.5rem;
    background-color:rgb(24, 7, 7);
    color:white;
    padding:.9%;
    border:1px solid rgb(248, 213, 213);
}
footer button:hover{
    background-color:rgb(248, 213, 213);
    color:rgb(24, 7, 7);
    border:1px solid black;
}

/* Day 2 800px */
@media(max-width:800px){
    /* Header */
    header h1{
        text-align:center;
    }
    nav a{
        width:100%;
    }
    nav{
        display:flex;
        flex-direction:column;
        width:25%;
    }
    header .verytop{
        display:flex;
        justify-content:center;
    }
    /* Top Picture / [My Name] Text */
    .top{
        display:flex;
        flex-direction: column;
    }
    .top h1{
        font-size:5rem;
    }
    .top button{
        font-size:2rem;
    }
    .top .topright{
        display:flex;
        flex-direction:column;
        width:100%;
        align-items:center;
        
    }
    .top .topleft{
        width:100%;
        
        display:flex;
        justify-content:center;
    }
    .top img{
        width:85%;
        display:flex;
    }
    .top .topright p{
        display:flex;
        font-size:3rem;
    }
    .top .topright button{
        display:flex;
        width:28%;
        justify-content:center;
    }
    .top .topright p{
        width:85%;
    }
    .middle .pics,.middle .text,.bottom .pics,.bottom .text{
        display:flex;
        flex-direction: column;
        text-align:center;
        width:100%;
    }
    .middle .pics,.bottom .pics{
        padding:5%;
    }
    .middle .bottom{
        width:50%;
    }
    .picturesection{
        display:flex;
    }
}

/* Day 2 500px */
@media(max-width:500px){
    .top h1{
        font-size:2rem;
    }
    .top button{
        font-size:1.5rem;
    }
    .top .topright p{
        font-size:1.75rem;
    }
    nav a{
        height:3vh;
    }
    nav{
        width:25%;
        
    }
    header .verytop{
        height:12vh;
    }
    /* Top Picture / [My Name] Text */
    
    .middle .pics div:nth-child(4),.bottom .pics div:nth-child(4){
        display:none;
    }
}
